<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="CnxConexao" connectionString="data source= DESKTOP-3Q54BJH; Integrated Security= SSPI; Initial Catalog= DbMvc" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>